.container {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 0;
}

.container .content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container .content .h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  padding: 15px;
  font-family: 'Oswald';
  border: 3px solid #fff;
  cursor: pointer;
  background-color: #000;
  -webkit-transition: .25s;
  transition: .25s;
  text-decoration: none;
}

.container .content .h2:hover {
  background-color: unset;
}

.container .rightRedLayer {
  background-color: #DA2C38;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.75;
  position: relative;
}

@media (min-width: 900px) {
  .container {
    width: 30%;
  }
}
