@import '../../../styles/scss/_mixins.scss';
@import '../../../styles/scss/_vars.scss';

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    .input {
        margin-top: 10px;
        @include input();
        padding: 0;
        cursor: pointer;
        height: 36.5px;
        color: #757575;
        &[type='file']::file-selector-button, &[type='file']::-webkit-file-upload-button {
            height: 38px;
            transition: .2s;
            border: none;
            font-size: 14px;
            padding: 6px 16px;
            margin-right: 10px;
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            background-color: $primary;
            letter-spacing: normal;
            color: #fff;
            font-weight: 500;
            text-transform: uppercase;
            &:hover {
                background-color: rgba(218, 44, 56, 0.85);
            }
        }
    }
    span {
        @include error();
    }
}
