@import '../../styles/scss/_vars.scss';
@import '../../styles/scss/_mixins.scss';

.container {
    @include flexJustifyCenter();
    @include pageContainer();
}
.content {
    width: 100%;
    h1 {
        @include h1();
    }
}

@media(min-width: $sm) {
    .content {
        width: 85%
    }
}

@media(min-width: $md) {
    .content {
        width: 60%
    }
}

@media(min-width: $lg) {
    .content {
        width: 40%
    }
}