@import '../../../../styles/scss/_vars.scss';
@import '../../../../styles/scss/_mixins.scss';
.container {
    margin-top: 20px;
    h2 {
        font-size: 20px;
    }
    textarea {
        margin-bottom: 10px;
    }
}

.rate {
    display: flex;
}