@import '../../../styles/scss/_vars.scss';
@import '../../../styles/scss/_mixins.scss';

.pageContainer {
    @include flexJustifyCenter();
    @include pageContainer();
}

.container {
    width: 100%;
}

@media(min-width: $md){
    .container {
        width: 90%;
    }
}
@media(min-width: $xl){
    .container {
        width: 70%;
    }
}