.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hamburger {
  border: none;
  outline: none;
  background-color: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

@media (min-width: 900px) {
  .mobile {
    display: none;
  }
}
