@import '../../../styles/scss/_vars.scss';
@import '../../../styles/scss/_mixins.scss';

.pageContainer {
    display: flex;
    justify-content: center;
    @include pageContainer();
}

.reviewsContainer {
    display: flex;
    justify-content: center;
    padding: 0 12px;
}

.content {
    display: flex;
    flex-direction: column;
}

.contentPart {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 12px;
}

@media(min-width: $md) {
    .content {
        flex-direction: row;
    }
    .contentPart {
        width: 50%;
    }
}